body {
    
}

#caixa{
    width: 50px;
}


.principal{
    background:#cccccc;
    padding:30px ;
}

.titulo-principal{
 padding-left: 20px;     
}

.titulo-centro {
    text-align: center;
}

p {
    text-align: center;
}

#missao{
    style= font-size: 20px 
}

em strong { 
    color: red;

}

.itens {
    font-style: italic;

}

.beneficios{
    background: #ffffff;
    padding: 20px;
}


ul{
    display: inline-block;
    vertical-align: top;
    width:20%;
    margin-right:15%;
}

#navalha{
    width: 50%; 
}


